* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    background: radial-gradient(circle at 50% 50%, #ff4659, #c70089);
    color: #333;
    line-height: 3.0;


}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    border-bottom: 4px solid #fef0f5;
}

.header .logo img {
    width: 80px;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}


.header nav a {
    text-decoration: none;
    color: #7a0053;
    font-weight: bold;
    font-size: 1.2em;
}

.navBtn {
    width: 150px;/* Ajusta el tamaño */
    height: 50px;/* Ajusta el tamaño  */
    font-size: 16px; /* Ajusta el */
    cursor: pointer;
    background-color: #f1c5ee;
    margin: 10px;
    align-items: center;
    
}

.header nav a.active {
    border-bottom: 2px solid #c70089;
}

/* Image Section */
.image-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-section img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #ffb5d2;
}

/* Footer */
footer {
    color: white;
    padding: 10px 10px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    border-top: 4px solid #fef0f5;

}

.footer-section p {
    margin: 5px 0;

}

.icons img {
    width: 20px;
    height: 20px;
    margin: 5px;
}