* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    height: 100vh;
    background: radial-gradient(circle at 50% 50%, #ff4659, #c70089);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Condensed", serif;

}

.container {
    width: 100%;
    max-width: 1000px;
    background-color: rgba(255, 252, 252, 0.144);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 5rem;
}


.form-wrapper{
    text-align: center;
    margin-top: 150px;
    width: 50%;
    padding-left: 2rem;
}

.form-wrapperr{
    text-align: center;
    margin-top: 80px;
    width: 50%;
    padding-left: 2rem;
}

.flower-img {
    display: block;
    margin: 0 auto 10px;
    width: 100px;
}

h1 {
    color: #f3c8e5;
    font-size: 24px;
}

.semilla {
    color: #f8f8f8;
    font-size: 30px;
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #863702;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.btn {
    width: 100%;
    background-color: #f72d70;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fa0a528f;
}

.toggle {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #ffffff;
}

.toggle:hover {
    text-decoration: underline;
}
.side-image {
    width: 50%;
    border-radius: 5%;
}

/* Estilos para el Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}

.modal-content {
    background: rgba(255, 255, 255, 0.349);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #2b282a81;
    font-size: 1.5rem;
    font-weight: bold;
}

.hidden {
    display: none;
}


